.container {
  background: rgb(94, 3, 112);
  border: 4px solid rgb(235, 10, 104);
  height: 900px;
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one {
  background-color: rgb(57, 250, 240);
  border: 4px solid rgb(236, 9, 9);
  height: 33vh;
  width: 33vw;
}

.two {
  background-color: rgb(41, 219, 6);
  border: 4px solid rgb(188, 228, 13);
  height: 33vh;
  width: 33vw;
}
.three {
  background-color: rgb(16, 58, 150);
  border: 4px solid rgb(231, 135, 9);
  height: 33vh;
  width: 33vw;
}